@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 8px;
    color: #fff;
    border-radius: 4px;
    min-width: 80px;

    &.btn-add-product {
        background-color: #00b4d8;
    }

    &.btn-save {
        background-color: #3194d4;
        margin-right: 5px;
    }

    &.btn-cancel {
        background-color: #f44336;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.loading-icon {
    display: block;
    font-size: 2.5rem;
    color: red;
    animation: loading 1s linear infinite;

    @keyframes loading {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }

        // from {
        //     transform: translateY(-50%) rotate(0);
        // }
        // to {
        //     transform: translateY(-50%) rotate(360deg);
        // }
    }
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.option-page {
    padding: 6px;
    margin: 0 9px;
    font-size: 1.6rem;
    color: #666;

    &:focus {
        outline: none !important;
        box-shadow: 0 1px 2px 1px #adc178;
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 2px 0 #adc178;
    border-radius: 4px;
    margin-top: 25px;
}

.wrap-content {
    display: flex;
    // flex: 1;
    align-items: center;
    min-height: 100px;
    margin: 5px;
    max-width: 85%;
}

.news-title {
    text-transform: uppercase;
    font-size: 1.8rem;
}

.img-news {
    border-radius: 8px;
    height: 120px;
    width: 120px;
    object-fit: cover;
}

.news-content {
    margin-top: 5px;
    font-size: 1.8rem;
    text-align: initial;
    color: #666;
    height: 15.4rem;
    line-height: 1.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.action {
    display: flex;
}

.delete {
    background-color: transparent;
    font-size: 2.2rem;
    margin: 3px;
    color: red;
    cursor: pointer;
}

.check,
.delete {
    min-height: 30px;
    min-width: 30px;
    background-color: transparent;
    font-size: 1.8rem;
    padding: 3px 5px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.check {
    color: #3194d4;
    background-color: rgba(49, 148, 212, 0.1);
}

.btnCancel {
    display: flex;
    justify-content: flex-end;
}

.cancel-addnews {
    display: block;
    text-align: center;
    width: 80px;
    height: 40px;
    margin: 7px;
    background-color: #f44336;
}

.wrap-addNews {
    display: flex;
    margin-top: 12px;
    margin-bottom: 30px;
}

.input-title {
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 4px;
    color: #333;
    caret-color: #f44336;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    width: 100%;

    &:focus-within {
        border-color: #457b9d;
    }
}

.editor {
    padding: 4px;
    margin-top: 4px;
}

.editor-content {
    flex: 1;
    max-width: 49%;
    padding: 8px;

    img {
        max-width: 400px;
        max-height: 400px;
    }
}

.preview {
    flex: 1;
    padding-left: 25px;
    margin-left: 5px;
    border-left: 1px solid #ccc;
    max-width: 49%;

    img {
        max-width: 600px;
        max-height: 600px;
    }

    .preview-title {
        padding: 12px;
        text-align: center;
    }

    .preview-content {
        margin-top: 7px;
        word-wrap: break-word;
    }
}

.btnSave {
}
